GEMINI_API_KEY=your_api_key_here
MINIO_ENDPOINT=https://gift.nodrive.ir
MINIO_ACCESS_KEY_ID=ycvug2CTkf7gDpCnlVIS
MINIO_SECRET_ACCESS_KEY=NOM0zd28HIkjZM7fcNKegOwa4N8GhwqmkocOi1ES
MINIO_BUCKET=09107739189main
MINIO_PREFIX=meshkat/
